* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    background: #ECECEA;
}

/* Style en-tête */
.en-tete{
    background-color: #558C89; /*   ✍️*/
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    position: relative;    
}

.menu{
    background-color: #74AFAD; /*  ✍️*/
    /* Essai  */
    margin-top: -16px;
    text-align: center;
}
.menu li {
    display:inline-block;
    padding:14px 16px;/* padding:20px; */
    list-style:none;
}
.menu a {
    color:#000;
    text-decoration: none;
}
.menu a:hover {
    color:#fff;
}
.current-menu-item a {
    color:#ECECEA;
}


form{
	/*⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️Attention c'est le parent des colonnes, pas .contenu ⚠️⚠️⚠️⚠️⚠️⚠️⚠️  */
	/*⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️Par contre .contenu est le bon parent dans les pages d'accès en lecture ⚠️⚠️⚠️⚠️⚠️⚠️⚠️  */
	 display: flex;
}

.colonne_laterale {
    
    width: 30%;
    /* float: left;   ✍️remplacé par  display: grid  <= 2 paradigme encien(1998) et nouveau(2017) */
    padding: 0 20px 0 20px; 
    
    list-style-type: none;
}


/* Clear floats after the columns */
.contenu:after {
    content: "";
    display: table;
    clear: both;
}


.colonne_contenu {
    width: 68%;
  /*  float: left; ✍️*/
    padding: 25px 20px;
    background: white;
}



.colonne_laterale li {
    list-style:none;
}

.colonne_laterale aside {
	/* à supprimer ces 2 première proprietés  ✍️ */
    background:inherit;    
    padding:15px;
	padding-top:0 !important;
	
	margin:0 0 15px;
	
}

.aside1, .aside2 {
	padding:0 !important; 
	margin-bottom:0 !important;
}




.colonne_laterale aside h1 {
    border-bottom: 1px dashed #CCC;
    margin-bottom:10px;
}

.footer {
    background-color: #74AFAD; 
    text-align: left;
	
	margin-top:0;
	padding:0.5em 1em; 
}

img {
    float:left;
    margin-right: 8px;
}

/* ################ TASKS: COMPLEMENT DE ZONNING(Remplir toute la hauteur de la page) ###########################################  
 *
 * Problème qui reste: ecriturBD.php
 * virer l'espace qui reste en haut entre la table.tablegauche et aside.aside1
   * ???
   *
 */	

 .colonne_laterale, .colonne_contenu {
	  /* display: grid !important;  ⚠️ Annule l'espace vide entre la table et le footer - mais aside s'impose */
	 /* min-height:100vh !important; */
	  
  }
 .colonne_laterale{ 
	  border-right:1px solid #c4c4c4 !important;
	  padding-right:0; 
	  padding-bottom:0 !important;
 }
 .tablegauche{ 
	  min-height:50vh !important; /*⚠️  22.5em; */

  }
  aside.aside1, aside.aside2{
	 box-shadow: 0 0 65px #cdbe9f inset !important; 
	 min-height:100vh !important;  /* ⚠️ virer l'espace qui reste entre la tablegauche et le footer */
	 margin-top:0 !important;
	 margin-bottom:0 !important;
	 background:#ECECEA !important;
  }
  aside.aside2{
	  box-shadow:none !important;
  }
  /* 
   * Problème qui reste: ecriturBD.php
   * virer l'espace qui reste en haut entre la table.tablegauche et aside.aside1
   * ???
   *		   
   */
